@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Application</h1>
    <p class="lead">This is my application created with ASP.Net MVC, ASP.Net Identity, Entity Framework, MSSQl, HTML and CSS</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            You can register, login, view another users and update your personal information. If you are a Admin you can also add and delete user. What is more, it is also possible for admin to display all users' roles and change them or add.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Companies</h2>
        <p>The Application gives you a ability to display, add, delete and update informations about companies. You can also search for particular company by industry and add new industry.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Trade Notes and Contact People</h2>
        <p>
            It is also possible to work with information about trade notes and contact People, you can find particular contact Person by his or her surname.
        </p>
        
    </div>
</div>